.nav-sidebar{ class: ("sidebar-collapsed-desktop" if collapsed_sidebar?) }
  .nav-sidebar-inner-scroll
    .context-header
      = link_to analytics_root_path, title: _('Analytics') do
        .avatar-container.s40.settings-avatar
          = sprite_icon('log', size: 24)
        .sidebar-context-title= _('Analytics')
    %ul.sidebar-top-level-items
      - if Feature.enabled?(:productivity_analytics)
        = nav_link(controller: :productivity_analytics) do
          = link_to analytics_productivity_analytics_path, class: 'qa-sidebar-productivity-analytics' do
            .nav-icon-container
              = sprite_icon('comment')
            %span.nav-item-name
              = _('Productivity Analytics')
          %ul.sidebar-sub-level-items.is-fly-out-only
            = nav_link(controller: :productivity_analytics, html_options: { class: "fly-out-top-item qa-sidebar-productivity-analytics-fly-out" } ) do
              = link_to analytics_productivity_analytics_path do
                %strong.fly-out-top-item-name
                  = _('Productivity Analytics')

      - if Feature.enabled?(:cycle_analytics)
        = nav_link(controller: :cycle_analytics) do
          = link_to analytics_cycle_analytics_path, class: 'qa-sidebar-cycle-analytics' do
            .nav-icon-container
              = sprite_icon('repeat')
            %span.nav-item-name
              = _('Cycle Analytics')
          %ul.sidebar-sub-level-items.is-fly-out-only
            = nav_link(controller: :cycle_analytics, html_options: { class: "fly-out-top-item qa-sidebar-cycle-analytics-fly-out" } ) do
              = link_to analytics_cycle_analytics_path do
                %strong.fly-out-top-item-name
                  = _('Cycle Analytics')

    = render 'shared/sidebar_toggle_button'
